body {
  background-image: url("./Images//main_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 100%;
  height: 100%;
}
 .game-options-container {
  background-color: aliceblue;
  background-image: url("./Images/background_plus_minus.png");
  height: 90%;
  width: 90%;
  border-radius: 40px;
}
 /*.top-section {
  width: 100%;
  height: 15%;
  display: grid;
  grid-template-columns: 93% 7%;
  background-color: #13324c;
}
.tictactoe-words {
  margin-top: 10px;
  height: 28%;
  width: 90%;
  margin-left: 70px;
}
.game-settings-container {
  display: flex;
  justify-content: center;
}
.game-settings {
  background-color: #6a88a1;
  width: 95%;
  height: 25%;
  margin-top: 16px;
  margin-right: 20px;
  text-align: center;
}

.game-settings img {
  width: 50px;
  padding: 10px 0px;
} */
.game-details {
  display: grid;
  grid-template-columns: 23% 23% 24% 20% 10% ;
  padding: 25px 100px;
  font-size: 25px;
  background-image: linear-gradient( 135deg, #FFF6B7 10%, #F6416C 100%);
  border-radius: 40px;
  font-weight: bolder;
  border: 2px solid black;
}
.quit-game {
  font-size: 15px;
  height: 35px;
  width: 40px;
  border-radius: 20px;
  background-color: red;
  color: white;
}
#stop-game, #reset-game{
  cursor: pointer;
  margin: 20px 20px;
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
.stop-icon, .reset-icon{
  width: 25px;
}
.sound-icon{
  width: 40px;
  margin-left: 20px;
  cursor: pointer;
}
.play-area {
  display: grid;
  grid-template-columns: 25% 45% 25%;
  margin-left: 70px;
  margin-top: 50px;
  
}
.play-area.show{
  display: grid;
}
.person , .opponent-icon{
  width: 170px;
  margin-left: 40px;
}
.user, .opponent{
  display: grid;
  justify-content: center;
  height: 400px;
}

.user.show,.opponent.show{
  background: linear-gradient(-45deg, #a7c136,rgb(234, 229, 229), #60ddbf, rgb(139, 229, 139),#ee52a3);
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
  border-radius: 40px;
  
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
.your-turn, .opponent-turn{
  margin: 10px;
  text-align: center;
  font-size: 23px;
  color: black;
}
.user{
  color: purple;
}
.user-details {
  background-color: #1b4465;
  width: 250px;
  height: 150px;
  border-radius: 20px;
  padding: 20px 10px;
  font-size: 23px;
  color: #c1ff72;
}
.time-taken span,.opponent-type, .game-mode{
  color:rgb(10, 0, 75);
}
.time-taken p, .opponent-type-text p, .game-mode-text p{
  margin: 0px;
}

.board{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3,auto);
  justify-items: center;
  align-items: center;
}
.play-box{
width: 379px;
height: 378px;
margin-left: 115px;
 margin-top: 10px;

border: 2px solid black;
}

.bottom-section {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}
.back {
  background-color: #410c73;
  border-radius: 30px;
  color: white;
  font-size: 25px;
  height: 50px;
  margin-bottom: 60px;
  margin-right: 7%;
  width: 140px;
  margin-top: 20px;
}
.quit-game{
  background-color: red;
  width: 150px;
  height: 40px;
  font-size: 23px;
  text-align: center;
 left:60px;
  top:10px;
  cursor: pointer;
  
}
.quit-game:hover{
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
}
.game-details{
  position: relative;
}
.quitGame{
  position: absolute;
  top: 60px;
  right:190px
}


.yes-no{
  display: flex;
  justify-content: center;
}
.yes,.no{
  margin: 0px 30px;
  margin-top: 20px;
  font-size: 22px;
  width: 60px;
  height: 40px;
  cursor: pointer;
}
.main{
  position: relative;
}
.quitYesOrNo{
 display: none;
  position: fixed;
  top:0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  opacity: 0.95;
  font-size: 35px;
  color: #c1ff72;
  justify-content: center;
  align-content: center;
  grid-template-rows: 80px 80px;
  padding: 300px 550px;
}
.quitYesOrNo.show{
  display: grid;
}
.result{
  display: none;
  position: fixed;
  top:0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  opacity: 0.9;
  font-size: 35px;
  color: #c1ff72;
  justify-content: center;
  align-content: center;
  grid-template-rows: 80px 80px;
}
.result.show{
  display: grid;
}
.continue, .exit{
  font-size: 20px;
  margin-left: 15px;
  background-color: lightblue;
  cursor: pointer;
}
.player-text, .character-text, .points-text, .opponent-name-text, .opponent-character-text, .opponent-points-text{
  color: greenyellow;
}
#player-name, #character, #points , #opponent-name, #opponent-character, #opponent-points{
  color:white
}
.main{
  position: relative;
  overflow: hidden;
}
.celebration-div-left,.celebration-div-right{
  display: none;
}
.celebration-div-left{
  position: absolute;
  width: 45%;
  height: 140%;
 left: 120px;
 top:150px
}
.celebration-div-right{
  position: absolute;
  width: 40%;
  height: 140%;
 right: 120px;
 top:150px
}
.celebration{
  
  width: 100%;
  height: 50%;
}


/*  */
:root {
  --cell-size: 125px;
  --mark-size: calc(var(--cell-size) * .7);
}

.cell {
  
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell.X,
.cell.O {
  cursor: not-allowed;
background: linear-gradient(to right, rgb(204, 220, 225), #6DD5FA, #2980B9);

 
}

.cell.X::before,
.cell.X::after,
.cell.O::before {
 border: 2px solid black;
  background: linear-gradient(to right, #1D2671, #C33764);   
}

.board.X .cell:not(.X):not(.O):hover::before,
.board.X .cell:not(.X):not(.O):hover::after,
.board.O .cell:not(.X):not(.O):hover::before {
  background: linear-gradient(to right, #1D2671, #C33764);
  border: 2px solid black;
}

.cell.X::before,
.cell.X::after,
.board.X .cell:not(.X):not(.O):hover::before,
.board.X .cell:not(.X):not(.O):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
}

.cell.X::before,
.board.X .cell:not(.X):not(.O):hover::before {
  transform: rotate(45deg);
}

.cell.X::after,
.board.X .cell:not(.X):not(.O):hover::after {
  transform: rotate(-45deg);
}

.cell.O::before,
.cell.O::after,
.board.O .cell:not(.X):not(.O):hover::before,
.board.O .cell:not(.X):not(.O):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.O::before,
.board.O .cell:not(.X):not(.O):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.O::after,
.board.O .cell:not(.X):not(.O):hover::after {
  width: calc(var(--mark-size) * .7);
  height: calc(var(--mark-size) * .7);
  border: 2px solid black;
  background: linear-gradient(to right, rgb(204, 220, 225), #6DD5FA, #2980B9);
}

.cell.O.show::after,.cell.show{
  background: linear-gradient(-45deg, #ee7752, #b1446e, #adce35, #23d5ab);
  background-size: 400% 400%;
  animation: winning 2s ease infinite;
}
.play-box.show{
  transition: transform 2s;
  transform: scale(1.1);
}

@keyframes winning {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}